h2{
    color:rgb(133, 133, 67);
}

p{
    color:blueviolet;
} 

body{
    background-color: rgb(172, 140, 201);
}

button{
    color:rgb(128, 97, 58);
    background-color: rgb(104, 129, 129);
}
p{
    color:rgb(128, 97, 58)
}
