#position{
    text-align: center;
}
#jagah{
    text-align: end;
}
.decor{
    text-decoration: wavy underline;
}
#weight{
    font-weight: 100;
}
#family{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#unit{
    font-size: 25px;
}